<div class="wrap">
  <header class="pdf-header">
    <div class="pdf-logo">
 <img src="cybeta.png" 
           alt="Aplant logo thumbnail">  
 <img src="ISS-web-logo.png" 
           alt="Aplant logo thumbnail">
    </div>

    <div class="pdf-1">
        <span class="pdf-center-title">ILLUSTRATIVE DATA</span>
    </div>
           <div>
           <div class="column" style="margin-top: 15px;">
           <span class="">Report Genereted on 2019.04.08</span>
          </div>
        <div class="column">
    <span class="pdf-title">CYBERSECURITY REPORT</span>
  </div>
</div>
  </header>
</div>