<div class="wrap">
    <footer class="pdf-header pdf-footer">
      <div class="footer-logo ft-1">
          <span style="padding-left: 60px;">Cybeta Research LLC | 1</span>
      </div>
             <div>
             <div class="column ft-2">
             <span class="">URL: cybeta.com | Email:contact@cybeta.com</span>
            </div>
          <div class="column ft-3">
      <span class="">CONFIDENTIAL - DO NOT DISSEMINATE This sample report contains confidential, trade secret information and is shared only with the understanding that you will not shre its contents or ideas with third parties without the express written consent of the plan author</span>
    </div>
  </div>
    </footer>
  </div>